<h1>Home</h1>

<h3>{{Tuser.name}}</h3>
<h3>{{Tuser.username}}</h3>
<h3>{{Tuser.profile}}</h3>
<!-- <img src="{{backend_url}}{{Tuser.profile}}" alt="gg" width="100px" > -->

<button type="button" (click)="logout()">Logout</button>
<button type="button" (click)="deleteAccount()">Delete</button>

<div *ngIf="loaded" class="posts">
    <h1>Posts</h1>
    <mat-card *ngFor="let post of posts" class="post">
        <mat-card-header class="post-header">
            <div *ngIf="post.user.profile_pic" class="profile-pic">
                <img mat-card-avatar [src]="backend_url + post.user.profile_pic"
                    alt="{{post.user.name}}'s Profile Picture">
            </div>
            <mat-card-title>{{post.user.username}}</mat-card-title>
            <mat-card-subtitle>{{post.user.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Created {{post.created | date}}</p>
            <h1>{{post.title}}</h1>
            <p>{{post.content}}</p>
            <a [routerLink]="'post/'+ post.id" *ngIf="post.photo" class="post-photo">
                <img mat-card-image [src]="backend_url + post.photo" alt="{{post.title}}" width="100%">
            </a>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>{{post.likes.length}} Likes</button>
            <button mat-button>{{post.comments}} Comments</button>
            <button mat-button>{{post.shares.length}} Shares</button>
            <button mat-button>{{post.views}} Views</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="loading" *ngIf="!loaded">
    <div class="loader"></div>
</div>


<h2>User from server</h2>
<h3>{{user.username}}</h3>
<h3>{{user.name}}</h3>
<h3>{{user.bio}}</h3>
<h3>{{user.email}}</h3>
<h3>{{user.dateofbirth}}</h3>
<h3>{{user.profile_pic}}</h3>

<img *ngIf="user.profile_pic" src="{{backend_url}}{{user.profile_pic}}" alt="gg" width="100px">