<div class="container" *ngIf="exist">
    <div class="profile-card" *ngIf="user">
        <mat-card class="mat-card">
            <mat-card-header>
                <div mat-card-avatar class="profile-pic">
                    <img [src]="backendUrl + user.profile_pic" [alt]="user.name + ' profile picture.'" width="100px"
                        height="100px">
                </div>
                <mat-card-title>{{user.name}}</mat-card-title>
                <mat-card-subtitle>@{{user.username}}</mat-card-subtitle>
                <button mat-raised-button (click)="follow()"><span *ngIf="followed">Unfollow</span><span
                        *ngIf="!followed">Follow</span></button>
            </mat-card-header>
            <mat-card-content>
                <p>{{user.bio}}</p>
                <div class="stats">
                    <div (click)="showFollowers()" class="stat">
                        <mat-icon>people_alt</mat-icon>
                        <span>{{user.followers}}</span>
                        <span>Followers</span>
                    </div>
                    <div (click)="showFollowing()" class="stat">
                        <mat-icon>person_add_alt_1</mat-icon>
                        <span>{{user.following}}</span>
                        <span>Following</span>
                    </div>
                    <div class="stat">
                        <mat-icon>event_note</mat-icon>
                        <span>Joined</span>
                        <span>{{user.joined | date }}</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="loading" *ngIf="!user">
        <div class="loader"></div>
    </div>
</div>
<div class="not-found" *ngIf="!exist">
    <p>User does not exist.</p>
</div>

<div *ngIf="show == 'followers'">
    <app-popup title="Followers" (close)="close()">
        <div *ngIf="followers">
            <div class="follower-card" *ngFor="let follower of followers">
                <div class="follower-info">
                    <div class="username">{{follower.username}}</div>
                    <div class="name">{{follower.name}}</div>
                </div>
                <div class="profile-pic">
                    <img width="100px" [src]="backendUrl + follower.profile_pic" alt="">
                </div>
            </div>
        </div>
        <div class="loading" *ngIf="!followers">
            <div class="loader"></div>
        </div>
        <p class="no-followers" *ngIf="followers && followers.length === 0">No followers</p>
    </app-popup>
</div>

<div *ngIf="show == 'following'">
    <app-popup title="Following" (close)="close()">
        <div *ngIf="following">
            <div class="following-card" *ngFor="let followingItem of following">
                <div class="following-info">
                    <div class="username">{{followingItem.username}}</div>
                    <div class="name">{{followingItem.name}}</div>
                </div>
                <div class="profile-pic">
                    <img width="100px" [src]="backendUrl + followingItem.profile_pic" alt="">
                </div>
            </div>
        </div>
        <div class="loading" *ngIf="!following">
            <div class="loader"></div>
        </div>
        <p class="no-followers" *ngIf="following && following.length === 0">No followings</p>
    </app-popup>
</div>
