<div *ngIf="user">
    <form [formGroup]="userForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username" />
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" />
        </div>
        <div>
            <label for="bio">Bio:</label>
            <textarea id="bio" formControlName="bio"></textarea>
        </div>
        <div>
            <label for="profile_pic">Profile Picture:</label>
            <input type="file" id="profile_pic" (change)="onProfilePicChange($event)"
                accept="image/*" />
            <img *ngIf="profilePicPreview" [src]="profilePicPreview" width="100" alt="Profile Picture Preview" />
        </div>
        <div>
            <label for="dateofbirth">Date of Birth:</label>
            <input type="date" id="dateofbirth" formControlName="dateofbirth" />
        </div>
        <button type="submit">Save</button>
    </form>
</div>
<div *ngIf="!user">Loading........</div>